.vscode
*.rpa
*.rpyc
*.rpyb
*.bak

log.txt
traceback.txt
errors.txt
firstrun

**/chats/*

**/PRIVATE_TOKENS_DO_NOT_SHARE.json

!**/chats/test.txt/

**/lib/*

**/renpy/*

**/game/saves/*

**/game/cache/*

**/game/assets/audio/sfx/_space-lines.mp3

**/game/images/monika/nonchalant.png
